.main-containerm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
}
.box-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.small {
  width: 75px;
  height: 75px;
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
  background-color: #fbbf24;
  border-width: 0px;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.medium {
  width: 150px;
  height: 150px;
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
  background-color: #38bdf8;
  border-width: 0px;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.large {
  height: 250px;
  width: 250px;
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
  background-color: #ec4899;
  border-width: 0px;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
